<!DOCTYPE html>
<html lang="en">
<head>
    <title>URL Shortener</title>
</head>
<body>
    <div>
        <h2>URL Shortener</h2>
        <input type="text" id="longurl" placeholder="Enter Long URL">
        <button onclick="shortenUrl()">Shorten</button>
        <div class="result" id="shoruurl"></div>
    </div>

    <script>
        // function to get the long_url from the input and turn it into a short_url.
        function shortenUrl() {
            var longUrl = document.getElementById("longurl").value;
            fetch('/shorten', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'long_url': longUrl })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("shorturl").innerText = 'Shortened URL: ' + data.short_url;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>